<launch>
    <arg name="rqt" default="false"/>
    <arg name="robot_name" default="Bobby"/>
    <arg name="controllers" default="true"/>
    <arg name="joystick_connected" default="false"/>
    <arg name="joy_device" default="/dev/input/js0"/>
    <arg name="autorespawn" default="false"/>

    <!-- <node ns="$(arg robot_name)" name="SimulationControl" pkg="bobby" type="C_simulation.py"
          respawn="$(arg autorespawn)" output="screen"/> -->

    <!-- <node ns="$(arg robot_name)" name="joint_state_publisher" pkg="bobby" type="custom_joint_state_publisher.py"
          respawn="$(arg autorespawn)" output="screen"/> -->

    <!-- <node ns="$(arg robot_name)" name="control_hydraulics" pkg="bobby" type="C_hydraulics.py"
          respawn="$(arg autorespawn)" output="screen"/> -->
    <node ns="$(arg robot_name)" name="control_loader" pkg="bobby" type="C_loader.py"
          respawn="$(arg autorespawn)" output="screen"/>
    <!-- <node ns="$(arg robot_name)" name="control_brackets" pkg="bobby" type="C_brackets.py"
          respawn="$(arg autorespawn)" output="screen"/> -->
    <node ns="$(arg robot_name)" name="control_tracks" pkg="bobby" type="C_tracks.py"
          respawn="$(arg autorespawn)" output="screen"/>

</launch>
