<launch>
    <arg name="rqt" default="true"/>
    <arg name="robot_name" default="Bobby"/>
    <arg name="controllers" default="true"/>
    <arg name="joystick_connected" default="false"/>
    <arg name="joy_device" default="/dev/input/js0"/>
    <arg name="autorespawn" default="true"/>


    <group if="$(arg joystick_connected)">
        <node ns="$(arg robot_name)" name="joy_listener" pkg="bobby" type="tracks_joy_listener.py"
           respawn="$(arg autorespawn)" output="screen"/>
        <node respawn="$(arg autorespawn)" pkg="joy"
              type="joy_node" name="joy" >
            <param name="dev" type="string" value="$(arg joy_device)"/>
            <param name="deadzone" value="0.1" />
        </node>
    </group>

</launch>
