<launch>
    <arg name="rqt" default="true"/>
    <arg name="robot_name" default="Bobby"/>
    <arg name="forces" default="true"/>
    <arg name="joystick_connected" default="false"/>
    <arg name="joy_device" default="/dev/input/js0"/>
    <arg name="autorespawn" default="true"/>

    <!--<node ns="$(arg robot_name)" name="position_force" pkg="robil_lihi" type="C_position_loader.py"
          respawn="$(arg autorespawn)" output="screen"/>-->

    <node ns="$(arg robot_name)" name="response_force" pkg="robil_lihi" type="C_response_loader.py"
     respawn="$(arg autorespawn)" output="screen"/>


</launch>
